.general {
    border: 3px solid black;
    border-radius: 30px;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

.poke-name {
    font-size: 50px;
    font-family: "Times New Roman";
    font-weight: bold;
    padding: 30px;
    flex: 1;
}

.poke-type {
    font-size: 30px;
    font-family: "Times New Roman";
    padding: 30px;
}

.water {
    background-color: dodgerblue;
}
.fire {
    background-color: rgb(255, 22, 69);
}
.grass {
    background-color: rgb(120, 241, 0);
}
.normal {
    background-color: rgb(227, 222, 178);
}
.flying {
    background-color: rgb(225, 255, 255);
}
.poison {
    background-color: darkmagenta;
}
.ghost {
    background-color: mediumpurple;
}
.psychic {
    background-color: indigo;
}
.ground {
    background-color: rgba(184, 135, 11, 0.804);
}
.dragon {
    background-color: rgb(68, 104, 104);
}
.ice {
    background-color: rgb(35, 255, 255);
}
.bug {
    background-color: rgb(23, 96, 23);
}
.fighting {
    background-color: rgb(255, 129, 83);
}
.rock {
    background-color: rgb(130, 102, 102);
}
.electric {
    background-color: rgb(240, 240, 0);
}

.button {
    color: white;
    font-size: 30px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.header {
    font-size: 30px;
    padding: 20px;
    font-family: "Times New Roman";
    font-weight: bold;
}
