<!DOCTYPE html>
<html>
    <head>
        <title>notification</title>
        <link rel="stylesheet" href="../global.css" />
    </head>
    <body>
        <div class="background">
            <div class="notification">
                <div class="header">
                    <span class="note1">Successfully saved!</span>
                    <button type="button" class="noteX">X</button>
                </div>
                <span class="note2"
                    >Anyone with a link can now view this file.</span
                >
            </div>
        </div>
    </body>
</html>
